<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="wclassth=device-wclassth, initial-scale=1.0">
    <title>Bienvenclassxs a Mercado Liebre</title>
    <link rel="stylesheet" href="/CSS/styleLogin.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/CSS/normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
     
    
</head>
<header>
  
<main class="encabezado">
    <div class="logo">  <a href="./"><img src="/images/logo-mercado-liebre.svg"   alt="logo" ></a>  </div>


   <div >   
        
    
    <input type="search" name="Barra-de-busqueda" class="barra" placeholder="Buscar productos, marcas y mas."  required  > 
    
    </div>
    <br>
    
    <div class="compraCuotas"> <i class="fas fa-hand-holding-usd"></i> Compra en cuotas y sin tarjeta de crédito </div>
  </main>
  
  <nav >  
      <div >
    <ul type="none" class="barraNavIzq" >

        <li><a href="#">Ofertas</a></li>
        <li><a href="#">Tiendas oficiales</a></li>
        <li><a href="./Producto">Vender</a></li>
        <li><a href="#">Ayuda</a></li>
        
    
    </ul>
</div>
<div >

<ul type="none" class="barraNavDer">
    <li><a href="./Registro">Crea tu cuenta <i class="far fa-address-card"></i></a> </li> 
    <li><a href="./FormLogin">Ingresa <i class="fas fa-sign-in-alt"></i></i></i></a></li>
    <li><a href="#">Mis Compras <i class="fas fa-shopping-basket"></i></i></i> </a></li>
</ul>
</div>
</nav>
<div class="burguer"> <i class="fas fa-bars"></i></i> </div>


</header>

<body>
    
    <main>

<section class="formularioLogin">

    <form action="./home.html" method="get">

    <div>
        <h1 >Login de Usuario</h1> <label for="Nombre Usuari@"></label> </div>
    
    <div>  
       
    
    <input type="email" name="Email" placeholder="E-mail usuario" class="burbuja" required>
    
    </div>

   

                <div><label for="Contraseña"></label> 
    
                    <input type="password" name="password" placeholder="Contraseña" class="burbuja" required required pattern=".{6,8}"
                    title="La contraseña debe tenere entre 8 y 6 caracteres" >
                    
                    </div>

                  
                  
                <div>
                    <button type="submit"  class="botton">Ingresar</button>
                    <button type="reset"  class="botton">Borrar</button>
                    </div>  
                </form>
                </section>
</div>
</main>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<footer >

<section>
    <div class="Novedades">
  <div  class="Icono"><i class="fas fa-credit-card"></i></div>
 
<h4>Pagá con tarjeta o en efectivo </h4> 
<p>Con Mercado Liebre Cash, tenés cuotas sin</p>
<p>interés con tarjeta o efectivo en</p>
<p>puntos de pago. ¡Y siempre es seguro!</p>
</div>
<div  class="Novedades">
<div class="Icono"><i class="fas fa-gift"></i></div>
<h4>Envío gratis desde $ 2.500 </h4> 
<p>  Solo por estar registrad@ en Mercado Liebre</p>
<p>tenés envíos gratis en miles de
    productos. Es</p>
<p>un beneficio de Mercado Puntos.</p>
</div>
<div  class="Novedades">
<div class="Icono"><i class="fas fa-user-shield"></i></div> 
<h4> Seguridad, de principio a fin  </h4> 
<p>  ¿No te gusta? ¡Devolvelo! En Mercado Liebre</p>
<p>no hay nada que no puedas hacer,</p>
<p>porque estás siempre protegclass@.</p>
<br>

</div>
</section>
<div class="Copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</div>

</footer>
</body>
</html>

