<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bienvenclassxs a Mercado Liebre</title>
    <link rel="stylesheet" href="/CSS/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/CSS/normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
     
    
</head>
<header>
  
<main class="encabezado">
    <div class="logo">  <a href="./"><img src="/images/logo-mercado-liebre.svg"   alt="logo" ></a>  </div>

   <div >  
        
    
    <input type="search" name="Barra-de-busqueda" class="barra" placeholder="Buscar productos, marcas y mas."  required  > 
    
    </div>


    <br>
    
    <div class="compraCuotas"> <i class="fas fa-hand-holding-usd"></i> Compra en cuotas y sin tarjeta de crédito </div>
  </main>
  
  <nav>  
      <div >
    <ul type="none" class="barraNavIzq" >

        <li><a href="#">Ofertas</a></li>
        <li><a href="#">Tiendas oficiales</a></li>
        <li><a href="./Producto">Vender</a></li>
        <li><a href="#">Ayuda</a></li>
        
    
    </ul>
</div>
<div >

<ul type="none" class="barraNavDer">
    <li><a href="./Registro">Crea tu cuenta <i class="far fa-address-card"></i></a> </li> 
    <li><a href="./FormLogin">Ingresa <i class="fas fa-sign-in-alt"></i></i></i></a></li>
    <li><a href="#">Mis Compras <i class="fas fa-shopping-basket"></i></i></i> </a></li>
</ul>
</div>
</nav>
<div class="burguer"> <i class="fas fa-bars"></i></i> </div>


</header>
<section>
    <div class="banner">  <img src="/images/img-home-banner.jpg"  alt="Banner"> </div>
 
 </section>
<body>
   

    <main>
        <section class="ofertas">
            <h3 >Seccion ofertas </h3>
            <div class="secciones">  
            <article>
                   <div>
                    <img src="/images/img-cafetera-moulinex.jpg"  alt="cafetera">
                <div class="main-article">
                    <i class="fas fa-truck"></i>
                    <p class="Precio">$6.770</p>
                   <p class="Descuento">40% OFF</p>
                   <h4><p class="descripciones">Cafetera Moulinex</p></h4> 
                </div>
                </div>
    
        </article>

        <article>
    <div>
          <div>   <img src="/images/img-samsung-galaxy-s10.jpg"  alt="cafetera"></div>
             <div class="main-article">
                <i class="fas fa-truck"></i>
             <p class="Precio">70.500</p>
             <p class="Descuento">10% OFF</p>
            <h4 ><p class="descripciones">Samsung Galaxy S10</p></h4> 
        </div>    
    </div>
        </article>

        <article>
        <div>
        <div> <img src="/images/img-macbook-pro-2019.jpg"  alt="cafetera"></div>
             
             <div class="main-article">
                <i class="fas fa-truck"></i>
             <p class="Precio">$230.000</p>
             <p class="Descuento">20% OFF</p>
            <h4><p class="descripciones">MacBook Pro Air</p></h4> 
        </div>
    </div>    
        </article>
        
        <article>
        <div>    
        <div>  <img src="/images/img-tv-samsung-smart.jpg"  alt="cafetera"></div>
             <div class="main-article">
                <i class="fas fa-truck"></i>
             <p class="Precio">$23.200</p>
         <p class="Descuento">10% OFF</p>
            <h4><p class="descripciones">Samsung SmartTV 43¨</p></h4>
        </div>  
    </div>
            </article>
        </div> 
    </section>
        
<br>

<section class="ofertas">
    <h3 >Seccion ofertas </h3>
    <div> 
    <article>
           <div>
            <img src="/images/img-cafetera-moulinex.jpg"  alt="cafetera">
        <div class="main-article">
            <i class="fas fa-truck"></i>
            <p class="Precio">$6.770</p>
           <p class="Descuento">40% OFF</p>
           <h4><p class="descripciones">Cafetera Moulinex</p></h4> 
        </div>
        </div>
    
        </article>

        <article>
    <div>
             <img src="/images/img-samsung-galaxy-s10.jpg"  alt="cafetera">
             <div class="main-article">
                <i class="fas fa-truck"></i>
             <p class="Precio">70.500</p>
             <p class="Descuento">10% OFF</p>
            <h4 class="descripciones"><p class="descripciones">Samsung Galaxy S10</p></h4> 
        </div>    
    </div>
        </article>

        <article>
        <div>
             <img src="/images/img-macbook-pro-2019.jpg"  alt="cafetera">
             
             <div class="main-article">
                <i class="fas fa-truck"></i>
             <p class="Precio">$230.000</p>
             <p class="Descuento">20% OFF</p>
            <h4><p class="descripciones">MacBook Pro Air</p></h4> 
        </div>
    </div>    
        </article>
        
        <article>
        <div>    
             <img src="/images/img-tv-samsung-smart.jpg"  alt="cafetera">
             <div class="main-article">
                <i class="fas fa-truck"></i>
             <p class="Precio">$23.200</p>
         <p class="Descuento">10% OFF</p>
            <h4><p class="descripciones">Samsung SmartTV 43¨</p></h4>
        </div>  
    </div>
            </article>
        </div> 
    </section>

    </main>
    <br>
<footer >

<section>
    <div class="Novedades">
  <div  class="Icono"><i class="fas fa-credit-card"></i></div>
 
<h4>Pagá con tarjeta o en efectivo </h4> 
<p>Con Mercado Liebre Cash, tenés cuotas sin</p>
<p>interés con tarjeta o efectivo en</p>
<p>puntos de pago. ¡Y siempre es seguro!</p>
</div>
<div  class="Novedades">
<div class="Icono"><i class="fas fa-gift"></i></div>
<h4>Envío gratis desde $ 2.500 </h4> 
<p>  Solo por estar registrad@ en Mercado Liebre</p>
<p>tenés envíos gratis en miles de
    productos. Es</p>
<p>un beneficio de Mercado Puntos.</p>
</div>
<div  class="Novedades">
<div class="Icono"><i class="fas fa-user-shield"></i></div> 
<h4> Seguridad, de principio a fin  </h4> 
<p>  ¿No te gusta? ¡Devolvelo! En Mercado Liebre</p>
<p>no hay nada que no puedas hacer,</p>
<p>porque estás siempre protegclass@.</p>
<br>

</div>
</section>
<div class="Copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</div>

</footer>
</body>
</html>

